![anatel](img/anatel_logo.png "Logo Anatel")

# Análise de Dados da Anatel em Minas Gerais (2006 - 2019)

A Agência Nacional de Telecomunicaçõe ([Anatel](https://www.anatel.gov.br/institucional/)) foi criada em 16 de julho de 1997 com o objetivo de regular o setor de telecomunicações para contribuir com o desenvolvimento do Brasil. Neste estudo iremos explorar o conjunto de dados das **Reclamações Registradas na Anatel** no estado de Minas Gerais durante os anos de 2006 até 2019. Os dados foram baixaados do  website [Dados Abertos](http://www.dados.gov.br/dataset/solicitacoesregistradasnaanatel) e o [Dicionário de Dados Oficial](data/Reclamações_Glossário_e_Metadados.pdf) está disponível na pasta: [`data/Reclamações_Glossário_e_Metadados.pdf`](data/Reclamações_Glossário_e_Metadados.pdf).

## Exercícios
Faça as questões abaixo usando somente a biblioteca [pandas](https://pandas.pydata.org/).

1. Importe o pacote **pandas** como o nome pd.

In [1]:
import numpy as np
import pandas as pd

2. Carregue em memória o conjunto de dados disponível na pasta [`data/anatel_mg_2006_2019.csv`](data/anatel_mg_2006_2019.csv) para uma variável chamada **df**.

In [5]:
df = pd.read_csv('anatel_mg_2006_2019.csv')

3. Quantas linhas e quantas colunas foram carregadas em memória?

In [6]:
df.shape

(509706, 12)

4. Mostre as 5 primeiras linhas do *dataset*.

In [7]:
df[:5]

  DataExtracao   Ano  Mes  ...               Motivo  UF QtdeSolic
0   2016-04-28  2006    1  ...        Interferência  MG         3
1   2016-04-28  2006    1  ...              Outorga  MG         8
2   2016-04-28  2006    1  ...             Cobrança  MG         1
3   2016-04-28  2006    1  ...  Serviços Adicionais  MG         1
4   2016-04-28  2006    1  ...             Clonagem  MG         1

[5 rows x 12 columns]

5.  Quais são os tipos de dados de cada uma das colunas?

In [8]:
df.dtypes

DataExtracao     object
Ano               int64
Mes               int64
CanalEntrada     object
Condicao         object
GrupoEconNorm    object
Tipo             object
Servico          object
Modalidade       object
Motivo           object
UF               object
QtdeSolic         int64
dtype: object

6. Mostre a quantidade de colunas para cada um dos tipos de dados.

In [9]:
df.dtypes.value_counts()

object    9
int64     3
dtype: int64

7. Mostre as informações básicas do DataFrame.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509706 entries, 0 to 509705
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DataExtracao   509706 non-null  object
 1   Ano            509706 non-null  int64
 2   Mes            509706 non-null  int64
 3   CanalEntrada   509706 non-null  object
 4   Condicao       509706 non-null  object
 5   GrupoEconNorm  509404 non-null  object
 6   Tipo           509706 non-null  object
 7   Servico        509706 non-null  object
 8   Modalidade     509706 non-null  object
 9   Motivo         509706 non-null  object
 10  UF             509706 non-null  object
 11  QtdeSolic      509706 non-null  int64
dtypes: int64(3), object(9)
memory usage: 46.7+ MB

8. Verifique se existem dados ausentes (*misssing data*) no conjunto de dados.

In [11]:
df.isnull().values.any()

True

9. Qual é o número total de dados ausentes?

In [12]:
df.isnull().sum().sum()

302

10. Qual é o número total de dados ausentes por coluna?

In [13]:
df.isnull().sum()

DataExtracao       0
Ano                0
Mes                0
CanalEntrada       0
Condicao           0
GrupoEconNorm    302
Tipo               0
Servico            0
Modalidade         0
Motivo             0
UF                 0
QtdeSolic          0
dtype: int64

11. Remova todos os dados ausentes encontrados.

In [14]:
df.dropna(subset=['GrupoEconNorm'], inplace=True)

12. Selecione o serviço que possui o maior número de solicitações `QtdeSolic` na Anatel.

In [15]:
df.loc[df.QtdeSolic == np.max(df.QtdeSolic), ['Servico']]

                                        Servico
139270  Serviço Telefônico Fixo Comutado - STFC

13. Qual é o menor número de solicitações `QtdeSolic` na Anatel.

In [16]:
df.QtdeSolic.min()

1

14. Mostre todas as linhs iguais ao menor número de solicitações `QtdeSolic` na Anatel.

In [17]:
df.loc[df.QtdeSolic == np.min(df.QtdeSolic)]

       DataExtracao   Ano  ...  UF QtdeSolic
2        2016-04-28  2006  ...  MG         1
3        2016-04-28  2006  ...  MG         1
4        2016-04-28  2006  ...  MG         1
5        2016-04-28  2006  ...  MG         1
6        2016-04-28  2006  ...  MG         1
...             ...   ...  ...  ..       ...
509701   2019-10-08  2019  ...  MG         1
509702   2019-10-08  2019  ...  MG         1
509703   2019-10-08  2019  ...  MG         1
509704   2019-10-08  2019  ...  MG         1
509705   2019-10-08  2019  ...  MG         1

[231120 rows x 12 columns]

15. Mostre as contagens de solicitações `QtdeSolic` por tipo de serviço `Servico`.

In [18]:
pd.crosstab(df['QtdeSolic'],df['Servico'])

Servico    Banda Larga Fixa  ...  Troncalizado (Trunking)
QtdeSolic                    ...
1                     29379  ...                      333
2                      9901  ...                       92
3                      5068  ...                       41
4                      3102  ...                       24
5                      2139  ...                       19
...                     ...  ...                      ...
2954                      0  ...                        0
3000                      0  ...                        0
3058                      0  ...                        0
3238                      0  ...                        0
4164                      0  ...                        0

[946 rows x 19 columns]

16. Ao longo dos anos mostre o número de solicitações por mês?

In [19]:
df[['Ano', 'QtdeSolic', 'Mes']].groupby(['QtdeSolic', 'Mes']).mean()

                       Ano
QtdeSolic Mes
1         1    2015.050022
          2    2015.001075
          3    2014.883003
          4    2014.973543
          5    2014.907216
...                    ...
2954      1    2014.000000
3000      7    2013.000000
3058      2    2014.000000
3238      11   2013.000000
4164      12   2013.000000

[4126 rows x 1 columns]

17. Crie o vetor **reclamacoes** com todos os dados que cuja coluna `Tipo` seja igual a "Reclamação".

In [20]:
reclamacoes = df[df.Tipo == "Reclamação"]
reclamacoes

       DataExtracao   Ano  ...  UF QtdeSolic
2        2016-04-28  2006  ...  MG         1
3        2016-04-28  2006  ...  MG         1
4        2016-04-28  2006  ...  MG         1
5        2016-04-28  2006  ...  MG         1
6        2016-04-28  2006  ...  MG         1
...             ...   ...  ...  ..       ...
509701   2019-10-08  2019  ...  MG         1
509702   2019-10-08  2019  ...  MG         1
509703   2019-10-08  2019  ...  MG         1
509704   2019-10-08  2019  ...  MG         1
509705   2019-10-08  2019  ...  MG         1

[477862 rows x 12 columns]

18. Mostre o número total de solictiações `QtdeSolic` de reclamações para cada tipo de serviço `Servico`

In [21]:
df.groupby('Servico').QtdeSolic.count()

Servico
Banda Larga Fixa                                           60421
Celular Pré-Pago                                           56911
Celular Pós-Pago                                           96355
Limitado Privado                                             646
Móvel Pessoal                                              68399
Outros                                                       969
Radioamador (PY)                                            1350
Radiochamada (Paging)                                         24
Radiodifusão (Rádio e TV)                                   3476
Rádio do Cidadão (PX)                                       1240
Serviço Móvel Aeronáutico                                    105
Serviço Móvel Marítimo                                        20
Serviço Telefônico Fixo Comutado - STFC                    41299
Serviço de Comunicação Multimídia                          23210
Serviço de Rede e Transporte de Telecomunicações - SRTT      531
Serviços da Anatel                                         10017
TV por Assinatura                                          80646
Telefone Fixo                                              63199
Troncalizado (Trunking)                                      586
Name: QtdeSolic, dtype: int64

19. Quais são os maiores ou maior motivo de solicitação de reclamações?

In [22]:
df['Motivo'].value_counts()

Cobrança                                                                     24408
Reparo                                                                       14832
Cancelamento                                                                 11259
Atendimento                                                                  11246
Outros                                                                       11193
                                                                             ...
LDN/LDI - Não consegue cancelar o plano no menu da central de atendimento        1
Dados disponibilizados insuficientes                                             1
Laboratórios de Ensaio                                                           1
Plano Básico de TV                                                               1
LDN/LDI - Consumidor não consegue negociar a dívida                              1
Name: Motivo, Length: 360, dtype: int64

20. Faça um agrupamento de dados pela coluna `GrupoEconNorm`, mostrando um sumário estatístico da quantidade solicitações `QtdeSolic`.

In [23]:
df.groupby('GrupoEconNorm').QtdeSolic.describe()

                      count       mean        std  min   25%  50%   75%     max
GrupoEconNorm
ALGAR               31030.0   3.074670   7.476908  1.0  1.00  1.0  2.00   259.0
Anatel              22833.0   2.537993   4.659411  1.0  1.00  1.0  2.00   128.0
BLUE                 3105.0   1.616747   1.473557  1.0  1.00  1.0  2.00    18.0
Brisanet                5.0   1.000000   0.000000  1.0  1.00  1.0  1.00     1.0
CABO TELECOM            1.0   1.000000        NaN  1.0  1.00  1.0  1.00     1.0
CLARO               56270.0   7.248623  34.269337  1.0  1.00  2.0  4.00  1291.0
Correios Celular      258.0   1.131783   0.438956  1.0  1.00  1.0  1.00     4.0
Datora                  2.0   1.500000   0.707107  1.0  1.25  1.5  1.75     2.0
EMBRATEL             1425.0   2.041404   2.697345  1.0  1.00  1.0  2.00    26.0
GVT                  6398.0   6.092685  19.560634  1.0  1.00  2.0  4.00   666.0
HUGHES NET            399.0   1.358396   0.829345  1.0  1.00  1.0  1.00     6.0
Intelig               228.0   1.381579   0.817762  1.0  1.00  1.0  1.25     6.0
NET                 51631.0   4.981058  13.085830  1.0  1.00  2.0  4.00   350.0
NEXTEL               3198.0   2.069418   3.907220  1.0  1.00  1.0  2.00    52.0
NOSSA TV - BRASIL      12.0   1.000000   0.000000  1.0  1.00  1.0  1.00     1.0
OI                 133068.0  13.773822  72.673658  1.0  1.00  2.0  6.00  4164.0
Outros              23898.0   4.035066  11.371657  1.0  1.00  1.0  3.00   286.0
SERCOMTEL              60.0   1.016667   0.129099  1.0  1.00  1.0  1.00     2.0
SKY                 24332.0   6.754028  22.213154  1.0  1.00  2.0  5.00   474.0
TIM                 66568.0  10.462760  37.195234  1.0  1.00  2.0  7.00  1364.0
VIVO                84683.0   7.715551  36.086811  1.0  1.00  2.0  5.00  1624.0